body{
    background-color: #f2f2f2;
}
.a{
    font-family: PTSans;
    font-size: 20px;
    text-align: center;
    color: #000000;
    float:right;
    display: block;
    text-decoration: none;
    list-style-type: none;
    padding: 14px 16px;
}
.u{
    margin:  0;
    padding: 0 ;
    
}
.q{
    float:left;
    padding: 14px 16px;
    width:10%;
    padding-left: 20px;
}
.bottone{
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    font-family: PTSans;
    text-align: center;
  text-decoration: none;
}
.classe{
    line-height: 1.28;
   padding-left:250px;
   padding-top: 20px;
}
.tel{
   width:80%;
  object-fit: contain;
}
.div{
    float: left;
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
    padding-left:10px;
    padding-right: 10px;
}
.qw{
    padding-left: 100px;
}
.sfondo{
    background-color: #f2f2f2;
    background-image: url("../img/02@2x.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;

}
.div2{
    float: left;
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
    padding-left:10px;
    padding-right: 10px;
    color: #ffffff;
}
.a2{
    font-family: PTSans;
    font-size: 20px;
    text-align: center;
    color:#ffffff;
    float:right;
    display: block;
    text-decoration: none;
    list-style-type: none;
    padding: 14px 16px;
}

.cla{
    text-align: center;
    font-family: PTSans;
    background-color: #4493cb;
    color:#ffffff;
}
.non{
   padding-left: 50px; 
}
.classe2{
    line-height: 1.28;
   padding-left:200px;
   padding-top: 170px;
   font-size: 22px;

}
.tel2{
    width:70%;
   object-fit: contain;
  
 }
 .classe3{
    line-height: 1.28;
   padding-left:10px;
   padding-top: 50px;
   font-size: 22px;

}
.tel3{
    width:80%;
   object-fit: contain;
   padding-left:200px;
   padding-top: 50px;
   
 }
 .classe4{
    line-height: 1.28;
   padding-left:10px;
   padding-top: 50px;
   font-size: 22px;

}
.tel4{
    width:80%;
   object-fit: contain;
   padding-left:200px;
   padding-top: 0px;
   
 }
 .classe5{
    line-height: 1.28;
   padding-left:200px;
   padding-top: 80px;
   font-size: 22px;

}
.tel5{
    width:80%;
   object-fit: contain;
   padding-left:0px;
   padding-top: 20px;
   
 }

 .cla2{
    text-align: center;
    font-family: PTSans;
    background-color: #4493cb;
    color:black;
}
.cla3{
   
    color:black;
}
.bloc1{
    width: 280px;
  height: 180px;
    border-radius: 6px;
    border: solid 2px #000000;
    margin-left: 200px;
    font-size: 22px;
}
.bloc2{
    width: 280px;
  height: 180px;
    border-radius: 6px;
    border: solid 2px #000000;
    margin-left: 100px;
    font-size: 22px;
}
.bloc3{
    width: 280px;
  height: 180px;
    border-radius: 6px;
    border: solid 2px #000000;
 
    font-size: 22px;
}
.cl{
    text-align: center;
    font-family: PTSans;
    color:black;
}
.bottonee{
    border-radius: 40px;
  background-color: #00ff78;
}
.bottonea{
    border-radius: 40px;
  background-color: #2d5987;
}
.non{
    background-color:#4493cb ;
}
.div4{
    float: left;
    width: 100%;
    height: 50px;
    margin-bottom: 50px;
    padding-left:10px;
    padding-right: 10px;
    color: black;
}
.a3{
    font-family: PTSans;
    font-size: 20px;
    text-align: center;
    color:black;
    float:right;
    display: block;
    text-decoration: none;
    list-style-type: none;
    padding: 14px 16px;
}
.a4{
    font-family: PTSans;
    font-size: 20px;
    text-align: center;
    color:white;
    float:right;
    display: block;
    text-decoration: none;
    list-style-type: none;
    padding: 14px 16px;
    background-color: #2d5987;
}
.q2{
    float:right;
    padding: 14px 16px;
    width:4%;
    padding-top: 14.4px;
    padding-left: 20px;
    background-color: #2d5987;
}
.colnav{
    background-color: #2d5987;
}
.sfondo2{
    background-color: #f2f2f2;
    background-image: url("../img/02@2x.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;


}
.a5{
    font-family: PTSans;
    font-size: 20px;
    text-align: center;
    color:black;
    float:right;
    display: block;
    text-decoration: none;
    list-style-type: none;
    padding: 14px 16px;
}
.clacla{
    text-align: center;
    font-family: PTSans;
    color:black;
}
.non2{
    padding-left: 260px; 
}
.classea{
    line-height: 1.28;
   padding-left:200px;
   padding-top: 80px;
   font-size: 22px;

}
.classeb{
    line-height: 1.28;
   padding-left:20px;
   padding-top: 100px;
   font-size: 22px;

}
.bloc11{
    width: 280px;
  height: 180px;
    border-radius: 6px;
    border: solid 2px white;
    margin-left: 200px;
    font-size: 22px;
    background-color: white;

}
.bloc22{
    width: 280px;
  height: 180px;
    border-radius: 6px;
    border: solid 2px white;
    background-color: white;
    margin-left: 100px;
    font-size: 22px;
}
.bloc33{
    width: 280px;
  height: 180px;
    border-radius: 6px;
    border: solid 2px white;
 background-color: white;
    font-size: 22px;
}

.cla21{
    text-align: center;
    font-family: PTSans;
    background-color:lightgrey;
    color:black;
}
.tel44{
    width:130%;
   object-fit: contain;
   padding-left:400px;
   padding-top: 50px;
   
 }